body {
    background-color: rgb(76, 111, 168);
}

table {
    width: 100%;
    table-layout: fixed;
    background-color: rgb(29, 67, 119);
}
td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ececec;
}
td:before {
    content: '';
    padding-top: 100%;
    display: inline-block;
    vertical-align: middle;
}